{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<br>
<br>
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title">
      <h2>Digital Marketing Package(Boost)</h2>
      <p><strong>Target: </strong> their own designs/photos and need boost</p>
        <p><strong>Focus</strong> Boost</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
          <h3>Starter</h3>
          <h4><sup>$</sup>100<span> / month</span></h4>
          <ul>
            <li>5 Digital Content</li>
            <li>Post only on Facebook</li>
            <li>Dedicated team for you</li>
            <li>Graphics Designer</li>
            <li>Video developer</li>
            <li>Boost:$20</li>
             
          </ul>
          <!-- <div class="btn-wrap">
            <a href="#" class="btn-buy">Buy Now</a>
          </div> -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
          <h3>Booster</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>8-10 Digital Content</li>
            <li>Facebook page Management</li>
            <li>Post on Facebook and Instagram</li>
            <li>Dedicated team for you</li>
            <li>Content Writer</li>
            <li>Graphics Designer</li>
            <li>Video Developer</li>
            <li>Boost:$45</li>
            <li class="na">Post on web protol</li>
          </ul>
           
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
          <h3>Mega Seller(Design Boost plus Social Media Management)</h3>
          <h4><sup>$</sup>29<span> / month</span></h4>
          <ul>
            <li>15-20 Digital Content</li>
            <li>Query handling</li>
            <li>3 Social media</li>
            <li>Activity post 1-3 post</li>
            <li>Post across all Social Media Profile</li>
            <li>Post on web protol</li>
            <li>Content Writer</li>
            <li>Graphics Designer</li>
            <li>Video developer</li>
            <li>Bonus Sponsored $70</li>
          </ul>
           
        </div>
      </div>

    </div>
     
     <div class="container">

      <div class="section-title">
        <h2>Digital Marketing Package(Boost)</h2>
        <p><strong>Target: </strong> their own designs/photos and need boost</p>
          <p><strong>Focus</strong> Boost</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
            <h3>Starter</h3>
            <h4><sup>$</sup>100<span> / month</span></h4>
            <ul>
              <li>5 Digital Content</li>
              <li>Post only on Facebook</li>
              <li>Dedicated team for you</li>
              <li>Graphics Designer</li>
              <li>Video developer</li>
              <li>Boost:$20</li>
               
            </ul>
            <!-- <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
            <h3>Booster</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>8-10 Digital Content</li>
              <li>Facebook page Management</li>
              <li>Post on Facebook and Instagram</li>
              <li>Dedicated team for you</li>
              <li>Content Writer</li>
              <li>Graphics Designer</li>
              <li>Video Developer</li>
              <li>Boost:$45</li>
              <li class="na">Post on web protol</li>
            </ul>
             
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
            <h3>Mega Seller(Design Boost plus Social Media Management)</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>15-20 Digital Content</li>
              <li>Query handling</li>
              <li>3 Social media</li>
              <li>Activity post 1-3 post</li>
              <li>Post across all Social Media Profile</li>
              <li>Post on web protol</li>
              <li>Content Writer</li>
              <li>Graphics Designer</li>
              <li>Video developer</li>
              <li>Bonus Sponsored $70</li>
            </ul>
             
          </div>
        </div>

      </div>
       
       </div>
       <div class="container">

        <div class="section-title">
          <h2>Digital Marketing Package(Boost)</h2>
          <p><strong>Target: </strong> their own designs/photos and need boost</p>
            <p><strong>Focus</strong> Boost</p>
        </div>
  
        <div class="row">
  
          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3>Starter</h3>
              <h4><sup>$</sup>100<span> / month</span></h4>
              <ul>
                <li>5 Digital Content</li>
                <li>Post only on Facebook</li>
                <li>Dedicated team for you</li>
                <li>Graphics Designer</li>
                <li>Video developer</li>
                <li>Boost:$20</li>
                 
              </ul>
              <!-- <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div> -->
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3>Booster</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>8-10 Digital Content</li>
                <li>Facebook page Management</li>
                <li>Post on Facebook and Instagram</li>
                <li>Dedicated team for you</li>
                <li>Content Writer</li>
                <li>Graphics Designer</li>
                <li>Video Developer</li>
                <li>Boost:$45</li>
                <li class="na">Post on web protol</li>
              </ul>
               
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3>Mega Seller(Design Boost plus Social Media Management)</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>15-20 Digital Content</li>
                <li>Query handling</li>
                <li>3 Social media</li>
                <li>Activity post 1-3 post</li>
                <li>Post across all Social Media Profile</li>
                <li>Post on web protol</li>
                <li>Content Writer</li>
                <li>Graphics Designer</li>
                <li>Video developer</li>
                <li>Bonus Sponsored $70</li>
              </ul>
               
            </div>
          </div>
  
        </div>
        
         </div>
     </section>
{% endblock content %}
  
 

