 {% extends 'base.html' %}
 {% load static %}
 
  
  {% block content %}
    
  
    

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Grow your business with Lambda</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers ,developers making websites,digital marketing.</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Lambda Inc is the software company located in Ghorahi Sub metroplation.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>We provides different types of services</li>
              <li><i class="ri-check-double-line"></i></li>
              <li><i class="ri-check-double-line"></i></li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
               Lamda is the software company of Dang.
            </p>
            <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
        </div>

        <div class="row">
          
          {% for post in posts %}  
           
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="{{ post.icon }}"></i></div>
              <h4 class="title"><a href="">{{post.title}}</a></h4>
              <p class="description">{{post.description}}</p>
            </div>
          </div>
          {% endfor %}
           

        </div> 

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
     <section id="team" class="team section-bg"> 
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>Our Teams</p>
        </div>

        <div class="row">
          
          {% for ta in ts %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{ ta.img.url }}" class="img-fluid" alt="">
                <!-- <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div> -->
              </div>
              <div class="member-info">
                <h4>{{ ta.name }}</h4>
                <span>{{ ta.profession }}</span>
              </div>
            </div>
          </div>

          {% endfor %}
            

          
          
            

        </div>

      </div>
    </section>
      <!-- End Team Section --> 

 
      
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>
        
        {% for a in fs %} 

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>{{a.question}}</h4>
          </div>
          <div class="col-lg-7">
            <p>
               {{ a.answer }}
            </p>
          </div>
        </div>
        
        {% endfor %}
      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Lamda Inc</h3>
              <p></p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Ghorahi-15,Dang,Nepal</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>lambda@example.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+977 9878787887</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=Ghorahi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div> 
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  
 {% endblock content %}